<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/app.css">
    <link href="/CSS/bootstrap.min.css" rel="stylesheet">
    <title>App</title>
</head>

<body>
    <div class="header">
        <div class="badge text-bg-success">
            <h3 id="username">loading...</h3>
            <h5 id="id">loading...</h5>
            <div class="btn-group">
                <button id="credit" type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    0$
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item hover" id="increase-credit">increase credit</a></li>
                    <li><a class="dropdown-item hover" id="logout">logout</a></li>
                </ul>
            </div>
        </div>
        <div class="badge text-bg-warning">
            <h3>Subscribe</h3>
            <h5>Choose below plans:</h5>
            <div class="btn-group">
                <button id="plans" type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    plans list
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item hover" id="plan1">plan1: 5$ per 10 minutes</a></li>
                    <li><a class="dropdown-item hover" id="plan2">plan2: 10$ per 10 minutes</a></li>
                    <li><a class="dropdown-item hover" id="plan3">plan3: 20$ per 10 minutes</a></li>
                    <li><a class="dropdown-item hover" id="plan4">plan4: 30$ per 10 minutes</a></li>
                </ul>
            </div>
        </div>
    </div>
    <h2 id="sub-title"> - Subscriptions</h2>
    <div class="alert alert-danger" role="alert" id="sub-loading">
        Loading...
    </div>
    <ul class="list-group lh-lg d-none" id="subs-ul">
        <!-- <li class="list-group-item d-flex bg-light">
            <span class="title flex-grow-1 d-flex align-items-center">
                <label>hello</label>
            </span>
            <span class="price badge text-bg-info me-3 align-self-center">0$</span>
            <button class="active btn btn-sm btn-success me-3 active-btn">Switch off</button>
            <button class="delete btn btn-sm btn-danger delete-btn">Delete</button>
        </li> -->
    </ul>
    <h2 id="invoice-title"> - Invoices <span class="badge text-bg-success">Total:Loading...</span></h2>
    <div class="alert alert-danger" role="alert" id="invoice-loading">
        Loading...
    </div>
    <ul class="list-group lh-lg d-none" id="invoices-ul">
        <!-- <li class="list-group-item d-flex bg-light">
            <span class="title flex-grow-1 d-flex align-items-center">
                <label>invoice</label>
            </span>
            <span class="price badge text-bg-info me-3 align-self-center">0$</span>
            <span class="time badge text-bg-info align-self-center">Start:
                2022-01-01-14:00:20<br />End:&nbsp;&nbsp;&nbsp;
                2022-01-01-14:00:30</span>
        </li> -->
    </ul>
</body>

</html>
<script src="/JS/bootstrap.bundle.min.js"></script>
<script src="/JS/axios.min.js"></script>
<script src="/JS/moment.min.js"></script>
<script src="/JS/app.js"></script>